@model IEnumerable<WebProje.Models.Takimlar>

@{
    
}

<!DOCTYPE html>

<html>
<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/css/pilotlar.css" rel="stylesheet" />
</head>
<body id="takimbody">


    <div id="govde">
        <div id="b0">
            <h1>2020 FORMULA 1 TAKIMLARI</h1>
        </div>
        <br /><br /><br /><br /><br /><br />
        <div class="container">
            <br />

            <div id="takimrow">
                <div id="a0">
                    <a asp-action="Details" asp-route-id=1>
                        <div id="ic">
                            <div>
                                <div id="takimsol">MERCEDES AMG-PETRONAS</div>

                                <div id="takimsag"><img src="~/img/Mercedes.png" id="takim" class="responsive" /></div>
                            </div>
                        </div>
                        <br />
                        <div>
                            <img src="~/img/CarMercedes.png" id="car" class="responsive" />
                        </div>
                    </a>
                </div>


                <div id="a1">
                    <a asp-action="Details" asp-route-id=2>
                        <div id="ic">
                            <div>
                                <div id="takimsol">SCUDERIA FERRARI</div>
                                <div id="takimsag"><img src="~/img/Ferrari.png" id="takim" class="responsive" /></div>
                            </div>
                        </div>
                        <br />
                        <div>
                            <img src="~/img/CarFerrari.png" id="car" class="responsive" />
                        </div>
                    </a>
                </div>
            </div>
            <div id="takimrow">
                <div id="a2">
                    <a asp-action="Details" asp-route-id=3>
                        <div id="ic">
                            <div>
                                <div id="takimsol">ASTON MARTIN- REDBULL RACING</div>
                                <div id="takimsag"><img src="~/img/RedBull.png" id="takim" class="responsive" /></div>
                            </div>
                        </div>
                        <br />
                        <div>
                            <img src="~/img/CarRedbull.png" id="car" class="responsive" />
                        </div>
                        </a>
                </div>
                <div id="a3">
                    <a asp-action="Details" asp-route-id=4>
                        <div id="ic">
                            <div>
                                <div id="takimsol">MC LAREN F1 TEAM</div>
                                <div id="takimsag"><img src="~/img/McLaren.png" id="takim" class="responsive" /></div>
                            </div>
                        </div>
                        <br />
                        <div>
                            <img src="~/img/CarMclaren.png" id="car" class="responsive" />
                        </div>
                        </a>
                </div>
            </div>
            <div id="takimrow">
                <div id="a4">
                    <a asp-action="Details" asp-route-id=5>
                        <div id="ic">
                            <div>
                                <div id="takimsol">RENAULT </div>
                                <div id="takimsag"><img src="~/img/Renault.png" id="takim" class="responsive" /></div>
                            </div>
                        </div>
                        <br />
                        <div>
                            <img src="~/img/CarRenault.png" id="car" class="responsive" />
                        </div>
                        </a>
                </div>

                <div id="a5">
                    <a asp-action="Details" asp-route-id=6>
                        <div id="ic">
                            <div>
                                <div id="takimsol">RACING POINT</div>
                                <div id="takimsag"><img src="~/img/RacingPoint.png" id="takim" class="responsive" /></div>
                            </div>
                        </div>
                        <br />
                        <div>
                            <img src="~/img/CarRacingPoint.png" id="car" class="responsive" />
                        </div>
                        </a>
                </div>
            </div>
            <div id="takimrow">
                <div id="a6">
                    <a asp-action="Details" asp-route-id=7>
                        <div id="ic">
                            <div>
                                <div id="takimsol">ALFA ROMEO</div>
                                <div id="takimsag"><img src="~/img/AlfaRomeo.png" id="takim" class="responsive" /></div>
                            </div>
                        </div>
                        <br />
                        <div>
                            <img src="~/img/CarAlfaRomeo.png" id="car" class="responsive" />
                        </div>
                        </a>
                </div>
                <div id="a7">
                    <a asp-action="Details" asp-route-id=8>
                        <div id="ic">
                            <div>
                                <div id="takimsol">HAAS</div>
                                <div id="takimsag"><img src="~/img/Haas.png" id="takim" class="responsive" /></div>
                            </div>
                        </div>
                        <br />
                        <div>
                            <img src="~/img/CarHaas.png" id="car" class="responsive" />
                        </div>
                        </a>
                </div>
            </div>
            <div id="takimrow">
                <div id="a8">
                    <a asp-action="Details" asp-route-id=9>
                        <div id="ic">
                            <div>
                                <div id="takimsol">ALPHA TAURI</div>
                                <div id="takimsag"><img src="~/img/AlphaTauri.png" id="takim" class="responsive" /></div>
                            </div>
                        </div>
                        <br />
                        <div>
                            <img src="~/img/CarAlphaTauri.png" id="car" class="responsive" />
                        </div>
                        </a>
                </div>
                <div id="a9">
                    <a asp-action="Details" asp-route-id=10>
                        <div id="ic">
                            <div>
                                <div id="takimsol">WILLIAMS</div>
                                <div id="takimsag"><img src="~/img/Williams.png" id="takim" class="responsive" /></div>
                            </div>
                        </div>
                        <br />
                        <div>
                            <img src="~/img/CarWilliams.png" id="car" class="responsive" />
                        </div>
                        </a>
                </div>
            </div>
            <div id="alt">

            </div>


        </div>
    </div>
</body>
</html>
