



#govde {
    float: left;
    font-family: 'Russo One', sans-serif;
    background-color: white;
    width: 100%;
    height: 100%;
    margin-bottom: 100px;
}
#tarihce{
    float:right;
    width:50%;
    height:100%;
}
#tarihsolust {
    float: left;
    border-bottom: 3px solid #FF0000;
   width:100%;
   height:100%;
}
#puanpuansolic{
    padding:20px;
    width:100%;
    height:100%;
    float:left;
}
#tarihsolic{
    margin-top:30px;
    float:left;
    width:50%;
    height:100%;
}
#tarihsagic {
    float: right;
    width: 50%;
    height: 100%;
}
#tarihfoto {
    border-radius: 25px;
    float: right;
    width: 100%;
    height: 100%;
    
}
#fototarih {
    float: right;
    width: 100%;
    height: 100%;
    margin-bottom:20px;
    
}
#puansol {
    border-radius:25px;
    float: left;
    width: 45%;
    height: 100%;
    border-top: 3px solid #FF0000;
    border-right: 3px solid #FF0000;
    border-bottom: 3px solid #FF0000;
}
#puansag {
    border-radius: 25px;
    float: right;
    width: 45%;
    height: 100%;
    border-top: 3px solid #FF0000;
    border-right: 3px solid #FF0000;
    border-bottom: 3px solid #FF0000;
}
#puansolic{
    
    float:left;
    width:30%;
    height:100%;
}
#puansagic {
    padding : 40px;
    float: right;
    width: 70%;
    height: 100%;
}
#takvim{
    float:left;
    width:100%;
    height:100%;
    border-right:3px solid #FF0000
}
#puanfotologo{
    float:left;
    width:30%;
    height:30%;
}
#puanfoto{
    float:left;
    width:100%;
    height:100%;
}
#govdeTakim {
    
    float: left;
    background-color: white;
    width: 100%;
    height: 100%;
    margin-bottom: 100px;
    font-family: 'Ubuntu', sans-serif;
}

#tl {
    float: left;
    height: 100%;
    width: 90%;
}
#tr{
    float:right;
    height:100%;
    width:90%;
}
#solust{
    float:left;
    width:100%;
    height:100%;
}
#logoSol {
    float: left;
    width: 70%;
    height: 70%;
}

#middlebox {
    float: left;
    width: 70%;
}

#rightbox {
    float: right;
    width: 30%;
}
#ic {
    float:left;
    width: 100%;
    height: 100%;
    border-bottom: 3px solid #000000;
}

#takimsol{
    text-decoration-color:black;
    padding:10px;
    float:left;
    width:80%;
    height:100%;
}

#takimsag{
    float:right;
    width:20%;
    height:100%;
}
#car{
    float:left;
    width:100%;
    height:100%;
}
#takim{
    float:right;
    width:50%;
    height:50%;
    
}


#a0 {
    float: left;
    border-radius: 25px;
    border-top: 2px solid #00D2BE;
    border-left: 2px solid #00D2BE;
    border-right: 2px solid #00D2BE;
    border-bottom: 2px solid #00D2BE;
    padding: 10px;
    width: 45%;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
    #a0:hover {
        outline: 0px solid transparent;
        border-top: 5px solid #00D2BE;
        border-right: 5px solid #00D2BE;
        border-left: 5px solid #00D2BE;
        border-bottom: 5px solid #00D2BE;
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }
#a1 {
    float: right;
    border-radius: 25px;
    border-top: 2px solid #DC0000;
    border-left: 2px solid #DC0000;
    border-right: 2px solid #DC0000;
    border-bottom: 2px solid #DC0000;
    padding: 10px;
    width: 45%;
}
    #a1:hover {
        outline: 0px solid transparent;
        border-top: 5px solid #DC0000;
        border-right: 5px solid #DC0000;
        border-left: 5px solid #DC0000;
        border-bottom: 5px solid #DC0000;
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }
#a2 {
    float: left;
    border-radius: 25px;
    border-top: 2px solid #1E41FF;
    border-left: 2px solid #1E41FF;
    border-right: 2px solid #1E41FF;
    border-bottom: 2px solid #1E41FF;
    padding: 10px;
    width: 45%;
}
    #a2:hover {
        outline: 0px solid transparent;
        border-top: 5px solid #1E41FF;
        border-right: 5px solid #1E41FF;
        border-left: 5px solid #1E41FF;
        border-bottom: 5px solid #1E41FF;
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }
#a3 {
    float: right;
    border-radius: 25px;
    border-top: 2px solid #FF8700;
    border-left: 2px solid #FF8700;
    border-right: 2px solid #FF8700;
    border-bottom: 2px solid #FF8700;
    padding: 10px;
    width: 45%;
}
    #a3:hover {
        outline: 0px solid transparent;
        border-top: 5px solid #FF8700;
        border-right: 5px solid #FF8700;
        border-left: 5px solid #FF8700;
        border-bottom: 5px solid #FF8700;
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }
#a4 {
    float: left;
    border-radius: 25px;
    border-top: 2px solid #FFF500;
    border-left: 2px solid #FFF500;
    border-right: 2px solid #FFF500;
    border-bottom: 2px solid #FFF500;
    padding: 10px;
    width: 45%;
}
    #a4:hover {
        outline: 0px solid transparent;
        border-top: 5px solid #FFF500;
        border-right: 5px solid #FFF500;
        border-left: 5px solid #FFF500;
        border-bottom: 5px solid #FFF500;
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }
#a5 {
    float: right;
    border-radius: 25px;
    border-top: 2px solid #F596C8;
    border-left: 2px solid #F596C8;
    border-right: 2px solid #F596C8;
    border-bottom: 2px solid #F596C8;
    padding: 10px;
    width: 45%;
}
    #a5:hover {
        outline: 0px solid transparent;
        border-top: 5px solid #F596C8;
        border-right: 5px solid #F596C8;
        border-left: 5px solid #F596C8;
        border-bottom: 5px solid #F596C8;
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }

#a6 {
    float: left;
    border-radius: 25px;
    border-top: 2px solid #960000;
    border-left: 2px solid #960000;
    border-right: 2px solid #960000;
    border-bottom: 2px solid #960000;
    padding: 10px;
    width: 45%;
}
    #a6:hover {
        outline: 0px solid transparent;
        border-top: 5px solid #960000;
        border-right: 5px solid #960000;
        border-left: 5px solid #960000;
        border-bottom: 5px solid #960000;
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }
#a7 {
    float: right;
    border-radius: 25px;
    border-top: 2px solid #C8C8C8;
    border-left: 2px solid #C8C8C8;
    border-right: 2px solid #C8C8C8;
    border-bottom: 2px solid #C8C8C8;
    padding: 10px;
    width: 45%;
}
    #a7:hover {
        outline: 0px solid transparent;
        border-top: 5px solid #C8C8C8;
        border-right: 5px solid #C8C8C8;
        border-left: 5px solid #C8C8C8;
        border-bottom: 5px solid #C8C8C8;
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }

#a8 {
    float: left;
    border-radius: 25px;
    border-top: 2px solid #787878;
    border-left: 2px solid #787878;
    border-right: 2px solid #787878;
    border-bottom: 2px solid #787878;
    padding: 10px;
    width: 45%;
}
    #a8:hover {
        outline: 0px solid transparent;
        border-top: 5px solid #787878;
        border-right: 5px solid #787878;
        border-left: 5px solid #787878;
        border-bottom: 5px solid #787878;
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }

#a9 {
    float: right;
    border-radius: 25px;
    border-top: 2px solid #0082FA;
    border-left: 2px solid #0082FA;
    border-right: 2px solid #0082FA;
    border-bottom: 2px solid #0082FA;
    padding: 10px;
    width: 45%;
}
    #a9:hover {
        outline: 0px solid transparent;
        border-top: 5px solid #0082FA;
        border-right: 5px solid #0082FA;
        border-left: 5px solid #0082FA;
        border-bottom: 5px solid #0082FA;
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }
#takimrow{
    width:100%;
    float:left;
    height:100%;
    margin-top:20px;
}
#pilotrow {
    width: 100%;
    float: left;
    height: 100%;
    margin-top: 20px;
}
#b0 {
    background-color: white;
    float: left;
    border-radius: 20px;
    font-family: 'Russo One', sans-serif;
    border-top: 20px solid #000000;
    border-right: 20px solid #000000;
    padding: 10px;
    width: 100%;
}


#b1 {
    
    float: left;
    border-radius: 25px;
    border-top: 4px solid #00D2BE;
    border-right: 4px solid #00D2BE;
    border-bottom: 4px solid #00D2BE;
    padding: 10px;
    width: 33.3%;
}

#icsol {
    float: left;
    width: 45%;
}
#sagTakim {
    border-radius: 25px;
    border-top: 3px solid #FF0000;
    border-right: 3px solid #FF0000;
    padding: 10px;
    float: right;
    width: 100%;
    height: 100%;
}
#sagust {
    float: right;
    border-bottom: 2px solid #FF0000;
    width: 100%;
    height: 100%;
}
#sagtakimbuyuk {
    font-family: 'Russo One', sans-serif;
    float: right;
    width: 35%;
    height: 100%;
}
#tm{
    float:right;
    width:100%;
    height:100%;
}
#sag2alt {
    border-radius: 25px;
    border-top: 2px solid #FF0000;
    border-right: 2px solid #FF0000;
    padding: 10px;
    float: right;
    width: 100%;
    height: 100%;
}
#sagalt {
    float: right;
    width: 100%;
    height: 100%;
}
#sagicsol {
    float: left;
    width: 50%;
    height: 100%;
}
#sagicsag {
    text-align:right;
    float: right;
    width: 50%;
    height: 100%;
}
#solTakim {
    border-radius: 50px;
    
    border-right: 3px solid #FF0000;
    
    padding:12px;
    float: left;
    width: 65%;
    height: 100%;
}
#icsag {
    float: right;
    width: 45%;
}
#foto {
    height: 100%;
    width: 100%;
}
#orta{
    float:left;
    margin-left:15px;
    margin-right:15px;
}
#fotoHel{
    float:left;
    width:100%;
    height:100%;
    
}

#fotoTag {
    
    float: left;
    width: 80%;
    height: 80%;
}
#fotoLogo{
    float:left;
    width:50%;
    height:50%;
}
#flag {
margin-top:7px;
float:right;
width:40%;
height:80%;
}
#fotosol {
    float: left;
    height: 100%;
    width: 100%;
    transition: transform .2s;
}

#fotosag {
    float: right;
    height: 100%;
    width: 100%;
    transition: transform .2s;
}

#fotosol:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5);
}

#fotosag:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5);
}

#b2 {
    float: left;
    border-radius: 25px;
    border-top: 4px solid #DC0000;
    border-right: 4px solid #DC0000;
    border-bottom: 4px solid #DC0000;
    padding: 10px;
    width: 33.3%;
}

#b3 {
    float: right;
    border-radius: 25px;
    border-top: 4px solid #1E41FF;
    border-right: 4px solid #1E41FF;
    border-bottom: 4px solid #1E41FF;
    padding: 10px;
    width: 33.3%;
}

#b4 {
    margin-top: 20px;
    float: left;
    border-radius: 25px;
    border-top: 4px solid #FF8700;
    border-right: 4px solid #FF8700;
    border-bottom: 4px solid #FF8700;
    padding: 10px;
    width: 33.3%;
}

#b5 {
    margin-top: 20px;
    float: left;
    border-radius: 25px;
    border-top: 4px solid #FFF500;
    border-right: 4px solid #FFF500;
    border-bottom: 4px solid #FFF500;
    padding: 10px;
    width: 33.3%;
}

#b6 {
    margin-top: 20px;
    float: right;
    border-radius: 25px;
    border-top: 4px solid #F596C8;
    border-right: 4px solid #F596C8;
    border-bottom: 4px solid #F596C8;
    padding: 10px;
    width: 33.3%;
}

#b7 {
    margin-top: 20px;
    float: left;
    border-radius: 25px;
    border-top: 4px solid #960000;
    border-right: 4px solid #960000;
    border-bottom: 4px solid #960000;
    padding: 10px;
    width: 33.3%;
}

#b8 {
    margin-top: 20px;
    float: left;
    border-radius: 25px;
    border-top: 4px solid #C8C8C8;
    border-right: 4px solid #C8C8C8;
    border-bottom: 4px solid #C8C8C8;
    padding: 5px;
    width: 33.3%;
}

#b9 {
    margin-top: 20px;
    float: right;
    border-radius: 25px;
    border-top: 4px solid #787878;
    border-right: 4px solid #787878;
    border-bottom: 4px solid #787878;
    padding: 10px;
    width: 33.3%;
}

#b10 {
    margin-top: 20px;
    margin-left: 33.3%;
    margin-right: 33.3%;
    margin-bottom: 70px;
    float: left;
    border-radius: 25px;
    border-top: 4px solid #0082FA;
    border-right: 4px solid #0082FA;
    border-bottom: 4px solid #0082FA;
    padding: 10px;
    width: 33.3%;
}
#details {
    font-family: 'Ubuntu', sans-serif;
}
#c1 {
    float: left;
    border-radius: 50px;
    border-top: 3px solid #FF0000;
    border-right: 3px solid #FF0000;
    border-bottom: 3px solid #FF0000;
    width: 70%;
    padding: 30px;
}
#c2 {
    float: right;
    width: 30%;
    padding: 30px;
}


#alt{
    float:left;
    width:100%;
    height:100%;
    margin-bottom:150px;
}

#bayrak{
    float:left;
    width:50%;
    height:50%;
}

body {
    background-color: #ECE7E6;
    
}
.panel {
    width: 300px;
    float: left;
    height: 550px;
    background: #d9dada;
    position: relative;
    left: -300px;
}

.slider-arrow {
    padding: 5px;
    width: 10px;
    float: left;
    background: #d9dada;
    font: 400 12px Arial, Helvetica, sans-serif;
    color: #000;
    text-decoration: none;
    position: relative;
    left: -300px;
}
#takvimust{
    float:left;
    width:100%;
    height:100%;
}
#takvimsol{
    margin-top:20px;
    border-radius:25px;
    float:left;
    width:40%;
    height:100%;
    padding:10px;
    border-top:3px solid #FF0000;
    border-right:3px solid #FF0000;
    border-bottom:3px solid #FF0000;
    

}
#takvimsag{
    padding:40px;
    float:right;
    width:60%;
    height:100%;
}
#takvimsolic{
    float:left;
    width:30%;
    height:100%;

}
#takvimsagic {
    float: right;
    width: 70%;
    height: 100%;
}
#takvimsagic1{
    float:left;
    width:50%;
    height:100%;
}
#takvimsagic2 {
    float: right;
    width: 50%;
    height: 100%;
}
#panel, #flip {
    border-radius:25px;
    padding: 5px;
   border-left:3px solid #FF0000;
   border-bottom:3px solid #FF0000;
}

#panel {
    
    display: none;
}
#habersol{
    padding:25px;
    float:left;
    width:60%;
    height:100%;
    border-radius:25px;
    border-right:3px solid #FF0000;
    border-top:3px solid #FF0000;
    border-bottom:3px solid #FF0000;
   
}
#habersag {
    padding: 25px;
    float: right;
    width: 40%;
    height: 100%;
    border-radius: 25px;
    border-right: 3px solid #FF0000;
    border-top: 3px solid #FF0000;
    border-bottom: 3px solid #FF0000;
}
#habersag1 {
  padding:15px;
    float: left;
    width: 100%;
    height: 33.3%;
    border-bottom: 3px solid #FF0000;
}
#habersagust {
    font-family: 'Russo One', sans-serif;
    float: left;
    width: 100%;
    height: 100%;
    border-bottom: 5px solid #000000;
}

#haberfoto{
    float:left;
    width:100%;
    height:100%;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}
.carousel-caption{
    background-color:#FF0000;
}
#haberdetaysolust{
    float:left;
    width:100%;
    height:100%;
}
#haberdetaysolustust {
    font-family: 'Russo One', sans-serif;
    float: left;
    width: 100%;
    height: 100%;
}
#haberdetay {
    float: left;
    border-radius: 50px;
    border-top: 3px solid #FF0000;
    border-right: 3px solid #FF0000;
    border-bottom: 3px solid #FF0000;
    width: 90%;
    padding: 30px;
}
#haberdetaysag {
    float: right;
    
    width: 10%;
    padding: 30px;
}
#panelust{
    float:left;
}