@model WebProje.Models.Tarihce
@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Options
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@inject IOptions<RequestLocalizationOptions> Locoptions
@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var cultureItems = Locoptions.Value.SupportedCultures
        .Select(c => new SelectListItem { Value = c.Name, Text = c.DisplayName })
        .ToList();
}

<!DOCTYPE html>

<html>
<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <link href="~/css/pilotlar.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>

<body id="details">
    <form id="cultureForm" asp-action="Details">
        <select name="culture" onchange="this.form.submit()" asp-for="@requestCulture.RequestCulture.UICulture.Name" asp-items="cultureItems">
        </select>
    </form>
    <div id="govdeTakim">
        <div class="container">
            <br />
            <div id="c1">
                <div id="tarihsolust">
                    <div id="tarihsolic">
                        <h1>@Localizer["TARİHÇE"]</h1>



                    </div>
                    <div id="tarihsagic"><img src="~/img/F1Logo.jpg" class="responsive" id="tarihce" /></div>
                </div>


                <dl class="row">



                    <dd class="col-sm-12">
                        <br /><br />

                        @if (requestCulture.RequestCulture.Culture.ToString() == "en-US")
                        {
                            @Html.DisplayFor(model => model.TarihceEng)




                        }
                        else {@Html.DisplayFor(model => model.Tarihce1)
                        }



                    </dd>
                </dl>
            </div>
            <div id="c2">
                <br /><br /> <br /><br /><br />
                <div id="fototarih"><img src="~/img/Tarih2.jpg" class="responsive" id="tarihfoto" /></div>
                <div id="fototarih"><img src="~/img/Tarih3.jpg" class="responsive" id="tarihfoto" /></div>
                <div id="fototarih"><img src="~/img/Tarih4.jpg" class="responsive" id="tarihfoto" /></div>
                <div id="fototarih"><img src="~/img/Tarih5.jpg" class="responsive" id="tarihfoto" /></div>
                <div id="fototarih"><img src="~/img/Tarih6.jpg" class="responsive" id="tarihfoto" /></div>
                <div id="fototarih"><img src="~/img/Tarih7.jpg" class="responsive" id="tarihfoto" /></div>
                <div id="fototarih"><img src="~/img/Tarih8.jpg" class="responsive" id="tarihfoto" /></div>
                <div id="fototarih"><img src="~/img/Tarih9.jpg" class="responsive" id="tarihfoto" /></div>
                <div id="fototarih"><img src="~/img/Tarih10.jpg" class="responsive" id="tarihfoto" /></div>
                <div id="fototarih"><img src="~/img/Tarih11.jpg" class="responsive" id="tarihfoto" /></div>
                <div id="fototarih"><img src="~/img/Tarih12.jpg" class="responsive" id="tarihfoto" /></div>

            </div>
        </div>
    </div>
</body>
</html>
