@model WebProje.Models.Tarihce

@{

}

<!DOCTYPE html>

<html>
<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <link href="~/css/pilotlar.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>

<body id="details">
    <div id="govdeTakim">
        <div class="container">
            <br />
            <div id="c1">
                
                    <div id="tarihsol">
                        <div id="tarihsolic">dasdsadsa</div>
                        <div id="tarihsagic"><img src="~/img/F1Logo.jpg" class="responsive" id="tarihce" /></div>
                    </div>
               
                <dl class="row">
                    
                   

                    <dd class="col-sm-12">
                        @Html.DisplayFor(model => model.Tarihce1)



                    </dd>
                </dl>
            </div>
            <div id="c2">
                <br />
            </div>
        </div>
    </div>
</body>
</html>
